# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.mvn
.vscode

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fluig
src_vue
.DS_Store
.classpath
.project
.settings/
target/
target-grunt/
test-output/
*.class
*.iml
*.log
.idea/
.gitattributes
bin/
.metadata/
.metadata
*.versionsBackup
bin/
*/MANIFEST.MF
*.launch
.recommenders/
*.jshintrc
*/target/
.idea
.resources
RemoteSystemsTempFiles/
/RemoteSystemsTempFiles

com.totvs.tds.ecm.dataservers
